.userswrap
    border 1px solid #c1c1c1
    display flex
.userslateral
    width 15%
    padding 1em
    border-color 1px solid rgb(#000000)

.userslateral__menu
    ul
        margin 0
        padding 0
        li
            margin 0
            padding 1em 0
            padding-left 2em
            list-style none
            a
                color plomotexto
                
        li:hover
            background rojo
            a
                color white
                text-decoration none
    // &-activo
    //     background-color rojo
    //     color white

.content
    width 85%
    background-color plomo
    &__header
        display flex
        div
            width 30%

